.input{
    color: black;
    border-radius: 20px;
    width: 150px;
    height: auto;
    text-align: center;
}

.search{
    position: relative;
    top: -100px;
    right: -500px;
    width: 100%;
    font-size: 20px;
}

.search button{
    width: 80px;
}
.container{
    border-radius: 50px;
}
.buscar{
    position: relative;
    top:10px;
}

@media screen and (max-width:1020px ){
    .search{
        position: relative;
        right: 0;
        top: -40px;
    }
}

@media screen and (max-width:600px ) {
    
    .search{
        font-size:25px;
        position: relative;
        top:50px;
        left:125px;
        width: 100px;
        height: 100px;
    }
    .input{
        width: 200px;
        position: relative;
        left: -20px;
    }
    button{
        position: relative;
        right: -28px;
    }
}


@media (max-width:480px){
    .search{
        font-size:25px;
        position: relative;
        top:50px;
        left:130px;
        width: 100px;
        height: 100px;
    }
    .input{
        width: 200px;
        position: relative;
        left: -20px;
    }
    button{
        position: relative;
        right: -28px;
    }
}